==========================================
==========================================
Welcome to server: {{ansible_nodename}}
Running on {{ansible_distribution}} {{ ansible_distribution_version }}
==========================================
==========================================



