==========================================
==========================================
Welcome to Server: {{ansible_nodename}}
Running {{ansible_distribution}} {{ ansible_distribution_version }}
Ansible is Great!
==========================================
==========================================



